*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #EBEFF6;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 400px;
    height: 400px;
    border: 2px solid none;
    border-radius: 20px;
}
.form {
    background-color: #FFFFFF;
    display: grid;
    border-radius: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    padding: 25px;


    &__header{
        color: #6557D3;
        background-color: #D7D1FF;
        font-weight: 900;
        font-size: 18px;
        width: 90px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
    }

    &__title {
        font-size: 35px;
        font-weight: lighter;
    }

    &__text {
        color: rgb(147, 146, 146);
        font-size: 20px;
        line-height: 25px;
        font-family: 'Reddit Mono';
    }

    &__button{
        border-radius: 10px;
        width: 200px;
        border: 3px solid #6557D3;
        color: #6557D3;
        font-size: 20px;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        background-color: #FFFFFF;

    }
    
}    